doctype html
html
    head   
        title Sistemas autónomos - TP Sensoring
        meta(charset="UTF-8" http-equiv="refresh" content="30" )
        link(rel="stylesheet", href="w3.css" )
    body
        block corpo