extends layout

block corpo
    .w3-container
        ul
            li
                a(href='localhost:5555') Home
            li
                a.active(href='localhost:5555') D.Informática   
            li
                a(href='localhost:5555/biblioteca') Biblioteca
            li(style='float:right')
                a(href='localhost:5555/about') Sobre
        .w3-container(class="centered")
            h1 Ocupação das salas do Departamento de Informática
            h2
                =sala
            img(src=img style="width:60%" )
    footer.w3-container.w3-light-grey
        address Gerado por SAapp

